.*.swp
.cache
_build
node_modules
.merlin
/vendor/coq
/vendor/mathcomp
/bin/coq/*.json
/bin/coq/*.coq-pkg
/dist
/public
/staging

*.tar.gz

/npm-link
/scratch

.DS_Store

# local configuration for now.sh
.now
/.nowignore
/now.json
/publish.sh