.*.swp
.cache
_build
node_modules
.merlin
/vendor/coq
/vendor/mathcomp
/bin
/dist
/public
/staging

*.tar.gz

/npm-link
/scratch

# local configuration for now.sh
.now
/.nowignore
/now.json
/publish.sh