#console #prompt {
    font-family: monospace;
    width: 100%;
    outline: none;
}

#console div {
    font-family: monospace;
    white-space: pre;
    margin-bottom: .5em;
    background: #eee;
}

#console div.pp div[data-mode=horizontal] {
    display: inline;
}

#console p.side-note {
    text-align: right;
}

#console span.percent {
    margin-left: 1em;
    color: #999;
}